/.TCP_Reverse_Shell.py.un~
/235609019_mehmet_okur_animate
/235609019_mehmet_okur_animate.rar
/235609019_mehmet_okur_web_proje
/8efe8816f51a14f6bc7c761e12b08f8d.jpg
/anı çöplüğü
/Ay gibi parlak ve zarif.jpg
/backdooor.py
/C#
/C# kamp
/CarRecapProjectQuery.sql
/Crypthon.py
/dbo.Users.sql
/Decoder.py
/Decoder2.py
/desktop.ini
/Dostum yapma
/elektronik
/elektroteknik_9_10.pdf
/EMPTY
/Görsel1
/hackingegitim-.pdf
/HAFTA_VI.pdf
/Henüz_ölmek _istemiyorum.jpg
/kali yazilar
/OKU.txt
/Pariscon
/proje
/ReCapProject-main
/recapwithsqldata
/RentACarProject-master
/Samuraı8ll.txt
/SamuraıSmS
/SamuraıSmS.rar
/SINIFLAR VE NESNELER.docx
/sql
/sql1
/SQLQuery2.sql
/SQLİTE KONUSU.docx
/TCP_Reverse_Shell.py~
/Visual Studio 2022.lnk
/Visual Studio Code.lnk
/vpnbook-de20-tcp80.ovpn
/WhatsApp Görsel 2024-07-24 saat 17.45.43_1ff6423a.jpg
/WhatsApp Video 2024-06-20 saat 01.37.24_4617e9fa.mp4
/wp8078821.png
/Yazılım
/yedek front end
/Yeni klasör
/yuJoA6uYFOU6MY8qP9AtPJ30a0ZE0qgXTlTPEx2S.webp
/_.swo
/_.swp
/~$Anaflaktik şok sunu.pptx
/çöp